/*** Colors ***/

$primary-color: #2E4756;
$secondary-color: #c5c8d8;
$accenture-color: #ffe8e8;


/*** Fonts ***/

$primary-font: 'Raleway', sans-serif;
$accenture-font: 'Lobster', cursive;
$timer-font: 'Inconsola', monospace;



/****** 
   RULES 
******/

body {
   font-family: $primary-font, $accenture-font, sans-serif;
   background-color: $accenture-color;
   height: 100vh;
   width: 100vw;
   padding-top: 4rem;
   color: $primary-color;
}

#music-player {
   width: 300px;
   margin: 0 auto;
   border: none;
   box-shadow: 0 19px 38px rgba(251, 157, 157, 0.2), 0 15px 12px rgba(251, 157, 157, 0.2);

   /* album info */

   #album-img {
      height: 200px;
      width: 200px;
      object-fit: cover;
   }

   .animated-img {
      animation: scale-in .2s ease-in-out;
      @keyframes scale-in {
         0% {
            transform: scale(.95);
         }
         100% {
            transform: scale(1);
         }
      }
   }

   .card-title {
      font-family: $accenture-font, cursive;
   }

   .card-subtitle {
      color: $secondary-color;
      font-weight: 700;
      font-size: .8rem;
      letter-spacing: .03rem;
   }

   .current-time,
   .time-end {
      font-family: $timer-font;
      color: $primary-color;
      font-size: .75rem;
   }


   /* progress bar */

   #progress-bar {
      width: 100%;
      height: 3px;
      background-color: $secondary-color;

      .buffer {
         height: 100%;
         width: 0%;
         background-color: $primary-color;
         transition: .05s;
      }
   }


   /* navigation */

   #navigation {
      font-size: 1.5rem;

      .btn {
         font-size: 1.15rem;
         transition: all .2s ease-in-out;

         &:hover {
            color: $secondary-color;
         }

         &:active {
            border: 1px solid transparent;
            transform: scale(.85);
         }
      }

      #play-pause {
         height: 50px;
         width: 50px;
         background-color: $primary-color;
         color: #fff;
      
            .fa-solid.fa-play {
               margin-top: 4px;
               margin-left: 3px;
            }

            &:hover {
               background-color: $secondary-color;
            }
      }
   }
}
